@model DentalPatientClinicApplication.Models.Viewmodel.Appointmentview
@{
    ViewBag.Title = "Scheduleappointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Appointment</h2>



<div class="form-group">
    <div class="col-md-2">
        <label class="control-label">Patient</label>
    </div>

    <div class="col-md-6">
        @Html.DropDownList("ddPatientsList", null, "Select Patient", new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-2">
        <label class="control-label">Doctor</label>
    </div>

    <div class="col-md-6">
        @Html.DropDownList("ddDoctorsList", null, "Select Doctor", new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-2">
        <label class="control-label">Service</label>
    </div>

    <div class="col-md-6">
        @Html.DropDownList("ddServicesList", null, "Select Service", new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-2">
        <label class="control-label">Appointment Date</label>
    </div>

    <div class="col-md-6">
        <div class='input-group date' id="enable-date">
            <input id="txtDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" type='date' data-input />
        </div>
    </div>
</div>

@*<div class="form-group">
        <div class="col-md-2">
            <label class="control-label">Check-Out</label>
        </div>

        <div class="col-md-6">
            <div class='input-group date' id="enable-date">
                <input id="txtTime" class="form-control" value="@DateTime.Now.TimeOfDay.ToString()" type='time' data-input />
            </div>
        </div>
    </div>*@


<div class="form-group">
    <div class="col-md-2">
        <label class="control-label">Available Time</label>
    </div>

    <div class="col-md-6">
        @Html.DropDownList("txtTime", null, "Select Time", new { @class = "form-control" })

    </div>
</div>


<div class="form-group">
    <div class="col-md-2">
        <label class="control-label">Reason</label>
    </div>

    <div class="col-md-6">
        <input type="text" id="txtReason" class="form-control" />
    </div>
</div>



<div class="form-group">
    <div class="col-md-offset-0 col-md-6" style="width:314px">
        <button id="btnSend" type="button" class="btn btn-primary">Save</button>
    </div>
</div>
@section scripts
{
     @*<script src="~/Scripts/jquery.min.js"></script>*@

    <script type="text/javascript">

        $("#txtDate").change( function (event) {
            var availabledate = $(this).val();
            var drid = document.getElementById('ddDoctorsList').value;
            if (availabledate != null && availabledate != '' && drid != null && drid != '') {
                 $.ajax({
            url: "@Url.Action("GetSchedule", "patient")",
            data: {
                DrID:drid, availableDate:availabledate.toString("yyyy-MM-dd")
            },
            //data: { id: patientId },
            type: "POST",
            datatype: 'application/json',
            contentType: 'application/json',
                     success: function (data) {
                         console.log(data);
                         var htmldata = '<option value="">Select Time</option>';

                             for (var i = 0; i < data.length; i++) {
                                 var timedisp = formatAMPM(data[i].AvailableTime.Hours, data[i].AvailableTime.Minutes);
                                 htmldata += '<option value="' + timedisp + '">' + timedisp + '</option>'

                             }
                             $("#txtTime").html(htmldata)

                     }
        });
            }

        });


        $("#ddDoctorsList").change(function (event) {
            var availabledate = $(this).val();
            var drid = document.getElementById('ddDoctorsList').value;
            if (availabledate != null && availabledate != '' && drid != null && drid != '') {
                 $.ajax({
            url: "@Url.Action("GetSchedule", "patient")",
            data: {
                DrID:drid, availableDate:availabledate.toString("yyyy-MM-dd")
            },
            //data: { id: patientId },
            type: "POST",
            //datatype: 'application/json',
            //contentType: 'application/json',
                     success: function (data) {
                         console.log(data);
                         alert(data)
                         var htmldata = '<option value="">Select Time</option>';

                             for (var i = 0; i < data.length; i++) {
                                 var timedisp = formatAMPM(data[i].AvailableTime.Hours, data[i].AvailableTime.Minutes);
                                 htmldata += '<option value="' + timedisp + '">' + timedisp + '</option>'

                             }
                             $("#txtTime").html(htmldata)

                     }
        });
            }

        });


        function formatAMPM(hrs, mins) {
            var hours = hrs;
            var minutes = mins;
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours < 10 ? '0' + hours : hours; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return strTime;
        }

        function timeConvertto24Format(time) {
            var PM = time.match('PM') ? true : false

            time = time.split(':')
            var min = time[1]

            if (PM) {
                var hour = 12 + parseInt(time[0], 10);
                time[1] = time[1].toString().trim().replace('PM', '');
                var sec = time[1];
            } else {
                var hour = time[0];
                time[1] = time[1].toString().trim().replace('AM', '');
                var sec = time[1];
            }
            return hour + ':' + sec;
        }




         $("#btnSend").click(function () {

             var validation;

             validation = $("#txtDate").val() != "" && $("#txtTime").val() != "" && $("#txtDate").val() != null && $("#txtTime").val() != null && $("#txtReason").val() != "" && $("#txtReason").val() != null && $("#ddDoctorsList").val() != "" && $("#ddDoctorsList").val() != null && $("#ddPatientsList").val() != "" && $("#ddPatientsList").val() != null && $("#ddServicesList").val() != "" && $("#ddServicesList").val() != null

             if (validation) {

                    var drid,patientid,servicesid,appointmentdate,appointmenttime,reason;

                 drid = $('#ddDoctorsList').val();
                 patientid = $('#ddPatientsList').val();
                 servicesid = $('#ddServicesList').val();
                 appointmentdate = $('#txtDate').val();
                 appointmenttime = $('#txtTime').val();

                 reason = $('#txtReason').val();

                    $.ajax({
                        url: '@Url.Action("saveAppointment", "Appointment")',
                        data: { DrID: drid, PatientID: patientid, ServiceID: servicesid, AppointmentDate: appointmentdate.toString("yyyy-MM-dd"), AppointmentTime: timeConvertto24Format(appointmenttime), Reason: reason },
                        error: function () {
                            alert('Error Occured! Try Again');
                        },
                        // dataType: 'jsonp',
                        success: function (data) {
                            alert(data.message);
                            if (data.message == 'Appointment Booked Successfully') {
                                window.location.reload();
                            }
                        },
                        type: 'POST'
                    });
                }
                else {

                    alert('Please Fill All Fields');
                }


        });
    </script>
}
