@model DentalPatientClinicApplication.Models.Viewmodel.Doctorview
@{
    ViewBag.Title = "DoctorSignup";
}

<h2>DoctorSignup</h2>

@using (Html.BeginForm("DoctorSignup", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken();

<div class="form-horizontal col-md-5">
    <h4>Doctor</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Doctorname)

        @Html.TextBoxFor(m => m.Doctorname, new { @class = "form-control", placeholder = "MM/DD/YYYY" })
        @Html.ValidationMessageFor(m => m.Doctorname)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Dateofbirth)
        @Html.TextBoxFor(m => m.Dateofbirth, "{0:dd mm yyyy}", new { @class = "form-control", placeholder = "MM/DD/YYYY", value = @DateTime.Now.ToString("yyyy - MM - dd"), type = "date", Id = "txtDate" })
        @*@Html.TextBoxFor(m => m.Dateofbirth, new { @class = "form-control", placeholder = "MM/DD/YYYY" })*@
        @Html.ValidationMessageFor(m => m.Dateofbirth)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)

        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "MM/DD/YYYY" })
        @Html.ValidationMessageFor(m => m.Email)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Phonenumber)

        @Html.TextBoxFor(m => m.Phonenumber, new { @class = "form-control", placeholder = "MM/DD/YYYY" })
        @Html.ValidationMessageFor(m => m.Phonenumber)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Speciality)
        @Html.DropDownListFor(m => m.Speciality,new List<SelectListItem> {
        new SelectListItem {Text="Dental Public Health", Value="Dental Public Health" },
        new SelectListItem{Text="Oral and Maxillofacial Radiology.",Value="Oral and Maxillofacial Radiology."},
        new SelectListItem{Text="Oral and Maxillofacial Surgery",Value="Oral and Maxillofacial Surgery"}

},"--Choose Speciality--" , new { @class = "form-control"})

        @Html.ValidationMessageFor(m => m.Speciality)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Username)

        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "MM/DD/YYYY" })
        @Html.ValidationMessageFor(m => m.Username)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)

        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "MM/DD/YYYY" })
        @Html.ValidationMessageFor(m => m.Password)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)

        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "MM/DD/YYYY" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)

    </div>
    <button type="submit" value="=Doctorsignup" class="btn-primary">Submit</button>
</div>

}

